#canvas2,
#canvas3 {
  border: 1px black solid;
  display: inline-block;
  margin: 1em auto;
  width: 100%;
}

#mainViz {
  text-align: center;
  display: inline-block;
}

#tileDetails {
  /* position: absolute; */
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

#profileMaker {
  display: inline-block;
  justify-content: center;
}
#canvasMaker {
  border: 1px black solid;
}
