#canvas2,
#canvas3 {
  border: 1px black solid;
  display: inline-block;
  margin: 1em auto;
  width: 100%;
}

#mainViz {
  text-align: center;
  display: inline-block;
}
#tileDetails {
  position: absolute;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
}

#profileMaker {
  display: flex;
  justify-content: center;
}
#canvasMaker {
  border: 1px black solid;
}
